
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Alunos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Lista de Alunos</h1>

  
  <form action="/adicionar" method="post">
    <input type="text" name="nome" placeholder="Nome" required>
    <input type="text" name="sobrenome" placeholder="Sobrenome" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="date" name="data_nascimento" placeholder="Data de Nascimento" required>
    <button type="submit">Adicionar Aluno</button>
  </form>

  <ul>
    <% alunos.forEach(aluno => { %>
      <li>
        <strong>Nome:</strong> <%= aluno.nome %>, 
        <strong>Sobrenome:</strong> <%= aluno.sobrenome %>, 
        <strong>Email:</strong> <%= aluno.email %>, 
        <strong>Data de Nascimento:</strong> <%= formatarData(aluno.data_nascimento) %>
      </li>
    <% }); %>
  </ul>
  </ol>
</body>
</html
